In [2]:
import sqlite3
import sqlalchemy

In [4]:
sqlite3.version, sqlalchemy.__version__

('2.6.0', '1.3.18')

In [5]:
sqlite3.sqlite_version

'3.32.3'

In [10]:
conn = sqlite3.connect('C:/Users/park1/Desktop/sqlite/test.db', isolation_level = None)
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTs table1\
            (id integer PRIMARY KEY, name text, birthday text)")

In [11]:
c.execute("INSERT INTO table1(id, name, birthday)\
             VALUES(?,?,?)",\
             (2, 'KIM', '1990-00-00'))

In [13]:
test_tuple = (
    (3, 'PARK', '1991-00-00'),
    (4, 'LEE', '1998-02-19'),
    (5, 'JUNG', '2011-10-20')
)

c.executemany("INSERT INTO table1(id, name, birthday) VALUES(?,?,?)", test_tuple)

In [28]:
c.execute("SELECT * FROM table1")

In [29]:
a = c.fetchall()

In [35]:
for i in a:
    print(i[1])

KIM
PARK
LEE
JUNG

In [48]:
param2=2
c.execute("SELECT * FROM table1 WHERE id='%s'" % param2)
print('param1' ,c.fetchone())
print('param1', c.fetchall())

param1 (2, 'KIM', '1990-00-00')
param1 []

In [50]:
param2=(2,)
c.execute("SELECT * FROM table1 WHERE id=?", param2)
print('param1' ,c.fetchone())
print('param1', c.fetchall())

param1 (2, 'KIM', '1990-00-00')
param1 []

In [54]:
c.execute("SELECT * FROM table1 WHERE id=:id", {"id":2})
print('param1' ,c.fetchone())
print('param1', c.fetchall())

param1 (2, 'KIM', '1990-00-00')
param1 []

In [55]:
c.execute("UPDATE table1 SET name =? WHERE id=?",("HWANG",2))

In [59]:
c.execute("SELECT * FROM table1 WHERE id=?", (2,))
c.fetchone()

(2, 'HWANG', '1990-00-00')

In [60]:
c.execute("INSERT INTO table1 VALUES(?,?,?)",(1, 'KIM','1000-10-10'))

In [61]:
c.execute("DELETE FROM table1 WHERE id=?",(5,))

In [62]:
with conn:
    with open('C:/Users/park1/Desktop/sqlite/dump.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' %line)
        print('complete')

complete

In [63]:
c.execute("SELECT * FROM table1")
a = c.fetchall()

In [64]:
for i in a:
    print(i)

(1, 'KIM', '1000-10-10')
(2, 'HWANG', '1990-00-00')
(3, 'PARK', '1991-00-00')
(4, 'LEE', '1998-02-19')
(5, 'PARK', '1009-10-19')

In [73]:
col = [i[0] for i in c.description] 
df = pd.DataFrame(a, columns=col)
df

   id   name    birthday
0   1    KIM  1000-10-10
1   2  HWANG  1990-00-00
2   3   PARK  1991-00-00
3   4    LEE  1998-02-19
4   5   PARK  1009-10-19

In [79]:
sorted(df.name, reverse=False)

['HWANG', 'KIM', 'LEE', 'PARK', 'PARK']

In [84]:
df[df.birthday=='1000-10-10'].index

Int64Index([0], dtype='int64')